.count {
	background: black;
	color: white;
	height: 600px;
	margin: -1em;
	position: relative;
}

.count .days, .count .text {
	position: relative;
	z-index: 1;
}

.fireworks {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.fireworks canvas {
	height: 100%;
	width: 100%;
}

.congratulations {
	background: #fee;
	border: 1px solid;
	color: #622;
	margin: 2em 0 0;
	padding: 0 0.6em;
}

@media screen and (max-width: 40em) {
	.count {
		height: 400px;
	}
}

@media screen and (max-width: 25em) {
	.count {
		height: 300px;
	}
}